<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Shape Beauty BMS Password Reset Confirmation</title>
</head>
<body style="background-color: #0D1B1E; font-family: Arial, Helvetica, sans-serif;">
  <div style="background-color: #C3D8C5; color: #0D1B1E; padding: 20px; width: 80%; margin: 20px auto;">
    <h2 style="font-family: Arial, Helvetica, sans-serif; text-align: center;">Uh-oh! Forgot your password?</h2>
    <div style="text-align: center; font-size: 14px; font-weight: bold;">
        <p>No problem! 🤦‍♀️ Click the link below to reset it like a pro: </p>
    </div>
    <div style="margin: 40px auto; text-align: center;">
      <a href="{{ protocol }}://{{ domain }}{{ site_name }}/{{ uid }}/{{ token }}" style="background-color: #0D1B1E; color: #C3D8C5; padding: 15px 20px; text-decoration: none; font-size: 14px;">RESET YOUR PASSWORD</a>
    </div>
    <div style="text-align: center; font-size: 14px;">
        <p>If you did not request a password reset, please ignore this email. </br> For security purposes, this link will expire in 1 hour.</p>
        <p></p>
    </div>
    
  </div>
  <div class="footer" style="color: lightslategray; padding: 20px; width: 50%; margin: 20px auto; text-align: center; font-size: 12px;">
    <p>We're here to help if you need us! 💌</p>
    <p>Your Friendly Support Team 🌈</p>
    <p>© Shape Beauty Jln Hashim, Muar, JHR 84000</p>
  </div>
</body>
</html>
